In [1]:
# Import modules
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Enrichissement des données
from sklearn.impute import SimpleImputer
# KNN
from sklearn.neighbors import KNeighborsClassifier
# Grid search et calcul de scores
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
# Random Forest
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

### Preprocessing

In [2]:
data = pd.read_csv("data/adult.csv", na_values='?')

In [3]:
def remove_columns(data):
    """Remove useless columns"""
    data.drop('education', axis=1, inplace=True)
    data.drop('relationship', axis=1, inplace=True)
    return

remove_columns(data)

In [4]:
def complete_except_occupation(data):
    """ Fill missing data in some columns with a SimpleImputer"""
    imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
    data['workclass'] = imp.fit_transform(data[['workclass']])
    data['native.country'] = imp.fit_transform(data[['native.country']])
    return

complete_except_occupation(data)

In [5]:
data.head()

,age,workclass,fnlwgt,education.num,marital.status,occupation,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,9,Widowed,NaN,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,9,Widowed,Exec-managerial,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,10,Widowed,NaN,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,4,Divorced,Machine-op-inspct,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,10,Separated,Prof-specialty,White,Female,0,3900,40,United-States,<=50K

In [6]:
def transform(data):
    data['native.country'] = [1 if x == 'United-States' else 0 for x in data['native.country']]
    # data['workclass'] = [1 if x == 'Private' else 0 for x in data['workclass']]
    data['race'] = [1 if x == 'White' else 0 for x in data['race']]
    data['sex'] = [1 if x == 'Male' else 0 for x in data['sex']]
    data['income'] = [0 if x == '<=50K' else 1 for x in data['income']]
    # marital_stat = {'Divorced':'Separated', 'Separated':'Separated', 'Widowed':'Separated',
                    #'Married-AF-spouse':'Married', 'Married-civ-spouse':'Married', 'Married-spouse-absent':'Married',
                    #'Never-married':'Never married'}
    marital_stat = {'Divorced':'Single', 'Separated':'Single', 'Widowed':'Single','Never-married':'Single',
                    'Married-AF-spouse':'Married', 'Married-civ-spouse':'Married', 'Married-spouse-absent':'Married'}
    data['marital.status'] = [marital_stat[x] for x in data['marital.status']]
    workclass = {'Private':'Private',
                 'Self-emp-not-inc':'Self', 'Self-emp-inc':'Self', 'Never-worked':'Self', 'Without-pay':'Self',
                 'Federal-gov':'Public', 'Local-gov':'Public', 'State-gov':'Public'}
    data['workclass'] = [workclass[x] for x in data['workclass']]
    # data = data.sample(frac=1) # cette ligne au milieu de la fonction ne marche pas -> POURQUOI ?
    return

transform(data)

In [7]:
data.head()

,age,workclass,fnlwgt,education.num,marital.status,occupation,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,9,Single,NaN,1,0,0,4356,40,1,0
1,82,Private,132870,9,Single,Exec-managerial,1,0,0,4356,18,1,0
2,66,Private,186061,10,Single,NaN,0,0,0,4356,40,1,0
3,54,Private,140359,4,Single,Machine-op-inspct,1,0,0,3900,40,1,0
4,41,Private,264663,10,Single,Prof-specialty,1,0,0,3900,40,1,0

In [8]:
data = data.sample(frac=1)

In [9]:
# Attention : ne pas supprimer le champ 'sex' pour la prédiction de 'occupation' ! 
# Attention : bien supprimer le champ 'fnlwgt' pour la prédiction de 'occupation' ! 

def complete_occupation(data):
    """Fill missing data in 'occupation' column with a KNN prediction """
    df = data.copy()
    df.drop('income', axis=1, inplace=True)
    if 'fnlwgt' in df.columns:
        df.drop('fnlwgt', axis=1, inplace=True)
    # Séparation des sets : train et prédiction
    train = df.dropna()
    prediction = pd.get_dummies(df[df['occupation'].isnull()].drop('occupation', axis=1))
    # Prédiction avec un modèle KNN
    X = pd.get_dummies(train.drop('occupation', axis=1))
    for x in X.columns:
        if x not in prediction.columns:
            prediction[x]=0
    Y = train['occupation']
    knn = KNeighborsClassifier(n_neighbors=23)
    knn.fit(X,Y)
    result = knn.predict(prediction)
    # Inscrire les résultats de la prédiction dans le df 'prediction'
    prediction['occupation']=[x for x in result]
    # Compléter les données manquantes du df initial ('data') grâce aux données prédites ('prediction')
    for index in prediction.index:
        data.loc[index,'occupation'] = prediction.loc[index,'occupation']
    # Calcul du score
    scores_accu = cross_val_score(knn, X, Y, cv=5, scoring='accuracy')
    print("Accuracy du modèle KNN: Moyenne:{}; Ecart-type:{}".format(np.mean(scores_accu),np.std(scores_accu)))
    #scores_f1 = cross_val_score(knn, X, Y, cv=5, scoring='f1')
    #print("F1-score: Moyenne:{}; Ecart-type:{}".format(np.mean(scores_f1),np.std(scores_f1)))
    # RQ: le calcul du F1 score ne marche pas
    return

In [10]:
complete_occupation(data)

Accuracy du modèle KNN: Moyenne:0.2823084617981753; Ecart-type:0.006964328243763412

In [11]:
data.head()

,age,workclass,fnlwgt,education.num,marital.status,occupation,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
18261,41,Private,207578,9,Married,Transport-moving,1,1,0,0,40,1,1
10521,40,Private,204046,6,Single,Transport-moving,1,1,0,0,40,1,0
9997,18,Private,128538,10,Single,Other-service,1,0,0,0,6,1,0
3340,36,Self,138940,13,Married,Exec-managerial,1,1,4386,0,50,1,1
23777,27,Private,85126,9,Single,Machine-op-inspct,1,0,0,0,40,1,0

### Modèle de prédiction Random Forest

In [12]:
# Tests de colonne à supprimer
df_test = data.copy()
# Attention à bien mélanger les lignes avant de lancer le modèle
df_test = df_test.sample(frac=1)
#df_test.drop('sex', axis=1, inplace=True)
#df_test.drop('native.country', axis=1, inplace=True)
#df_test.drop('race', axis=1, inplace=True)
# df_test.drop('workclass', axis=1, inplace=True)

In [13]:
X = pd.get_dummies(df_test.drop('income', axis=1))
Y = df_test['income']

In [14]:
len(X.columns)

28

Grid Search

In [15]:
clf_rf = RandomForestClassifier(n_estimators=200, max_features=0.1, n_jobs=-1)

In [ ]:
# pour le nombre d'arbres
n_estimators = [i for i in range(20,301,20)]
parameters = {'n_estimators': n_estimators}
clf_gs_rf = GridSearchCV(clf_rf, parameters, cv=5, scoring='accuracy')
clf_gs_rf.fit(X, Y)

In [ ]:
clf_gs_rf.cv_results_

In [ ]:
clf_gs_rf.best_params_

In [ ]:
# pour max_features
max_features = ['auto', 'log2', 0.1, 0.2, 0.5]
parameters = {'max_features': max_features}
clf_gs_rf = GridSearchCV(clf_rf, parameters, cv=5, scoring='accuracy')
clf_gs_rf.fit(X, Y)

In [ ]:
clf_gs_rf.cv_results_

In [ ]:
clf_gs_rf.best_params_

In [16]:
# pour les 2 à la fois
n_estimators = [i for i in range(20,301,40)]
max_features = ['auto', 'log2', 0.1, 0.5]
parameters = {'n_estimators': n_estimators, 'max_features': max_features}
clf_gs_rf = GridSearchCV(clf_rf, parameters, cv=5, scoring='accuracy')
clf_gs_rf.fit(X, Y)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.1, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [20, 60, 100, 140, 180, 220, 260, 300], 'max_features': ['auto', 'log2', 0.1, 0.5]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [17]:
clf_gs_rf.best_params_

{'max_features': 0.5, 'n_estimators': 300}

In [18]:
clf_gs_rf.cv_results_

{'mean_fit_time': array([ 0.82923436,  1.43628125,  2.08847394,  2.96251507,  3.64377804,
         4.48562636,  5.2692874 ,  6.07514687,  0.4806129 ,  1.23585224,
         2.04248047,  2.76392283,  3.42918525,  4.2138042 ,  4.85807838,
         5.65048532,  0.47500663,  1.0780272 ,  1.71565237,  2.39032664,
         3.10176272,  4.15723729,  5.67812414,  7.17821689,  0.95526309,
         3.04757366,  4.23782721,  5.49789381,  7.34161286,  7.79861903,
         9.27130404, 11.32757678]),
 'std_fit_time': array([0.41676695, 0.07626398, 0.00621948, 0.06779784, 0.01419693,
        0.03559776, 0.0311116 , 0.03743702, 0.03492612, 0.00683535,
        0.21294653, 0.02147836, 0.0237594 , 0.04550193, 0.01074067,
        0.01392531, 0.00799792, 0.00712478, 0.02325785, 0.01095422,
        0.15648942, 0.18919778, 0.94837562, 1.14976033, 0.05193031,
        0.39621643, 0.58999394, 0.22796291, 0.81704976, 0.04296285,
        0.30178943, 0.75471548]),
 'mean_score_time': array([0.11164656, 0.15760927, 0.12840886, 0.21040692, 0.21141171,
        0.31261764, 0.31421614, 0.39502225, 0.10840821, 0.10923934,
        0.1914259 , 0.21141272, 0.21101146, 0.31341767, 0.31341662,
        0.41702237, 0.10924034, 0.10822792, 0.20981421, 0.21101379,
        0.31441851, 0.44962044, 0.42562404, 0.61743488, 0.11022944,
        0.11102057, 0.19903173, 0.23281226, 0.23063102, 0.2724854 ,
        0.33425417, 0.35463905]),
 'std_score_time': array([0.00370226, 0.05945978, 0.03980485, 0.00049528, 0.00135655,
        0.00185366, 0.00193824, 0.04052336, 0.00080061, 0.00100199,
        0.04123445, 0.0008007 , 0.00063264, 0.00102021, 0.00080036,
        0.00521489, 0.00163767, 0.00044253, 0.00039966, 0.00109685,
        0.0035548 , 0.0800545 , 0.00997182, 0.19513088, 0.00161047,
        0.00108368, 0.04597066, 0.04313515, 0.03969945, 0.05015316,
        0.0439624 , 0.08119638]),
 'param_max_features': masked_array(data=['auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'log2', 'log2', 'log2', 'log2', 'log2', 'log2',
                    'log2', 'log2', 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,
                    0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[20, 60, 100, 140, 180, 220, 260, 300, 20, 60, 100, 140,
                    180, 220, 260, 300, 20, 60, 100, 140, 180, 220, 260,
                    300, 20, 60, 100, 140, 180, 220, 260, 300],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_features': 'auto', 'n_estimators': 20},
  {'max_features': 'auto', 'n_estimators': 60},
  {'max_features': 'auto', 'n_estimators': 100},
  {'max_features': 'auto', 'n_estimators': 140},
  {'max_features': 'auto', 'n_estimators': 180},
  {'max_features': 'auto', 'n_estimators': 220},
  {'max_features': 'auto', 'n_estimators': 260},
  {'max_features': 'auto', 'n_estimators': 300},
  {'max_features': 'log2', 'n_estimators': 20},
  {'max_features': 'log2', 'n_estimators': 60},
  {'max_features': 'log2', 'n_estimators': 100},
  {'max_features': 'log2', 'n_estimators': 140},
  {'max_features': 'log2', 'n_estimators': 180},
  {'max_features': 'log2', 'n_estimators': 220},
  {'max_features': 'log2', 'n_estimators': 260},
  {'max_features': 'log2', 'n_estimators': 300},
  {'max_features': 0.1, 'n_estimators': 20},
  {'max_features': 0.1, 'n_estimators': 60},
  {'max_features': 0.1, 'n_estimators': 100},
  {'max_features': 0.1, 'n_estimators': 140},
  {'max_features': 0.1, 'n_estimators': 180},
  {'max_features': 0.1, 'n_estimators': 220},
  {'max_features': 0.1, 'n_estimators': 260},
  {'max_features': 0.1, 'n_estimators': 300},
  {'max_features': 0.5, 'n_estimators': 20},
  {'max_features': 0.5, 'n_estimators': 60},
  {'max_features': 0.5, 'n_estimators': 100},
  {'max_features': 0.5, 'n_estimators': 140},
  {'max_features': 0.5, 'n_estimators': 180},
  {'max_features': 0.5, 'n_estimators': 220},
  {'max_features': 0.5, 'n_estimators': 260},
  {'max_features': 0.5, 'n_estimators': 300}],
 'split0_test_score': array([0.84814985, 0.84968524, 0.84814985, 0.84814985, 0.84983878,
        0.84922463, 0.84891755, 0.85045294, 0.8440043 , 0.85060648,
        0.85076002, 0.85198833, 0.84784278, 0.84784278, 0.84937817,
        0.84661446, 0.84216183, 0.84477199, 0.84799632, 0.8432366 ,
        0.84768924, 0.84692154, 0.84814985, 0.84584677, 0.84615385,
        0.85229541, 0.85060648, 0.85244895, 0.85045294, 0.85091356,
        0.85183479, 0.85152771]),
 'split1_test_score': array([0.85211916, 0.85089066, 0.85242629, 0.85411548, 0.85380835,
        0.85380835, 0.85227273, 0.85503686, 0.84904791, 0.85104423,
        0.85365479, 0.85380835, 0.84920147, 0.85273342, 0.85119779,
        0.85257985, 0.84812654, 0.85150491, 0.85150491, 0.85211916,
        0.85104423, 0.85227273, 0.85058354, 0.85211916, 0.84935504,
        0.85181204, 0.85641892, 0.85411548, 0.85457617, 0.85672604,
        0.85580467, 0.85534398]),
 'split2_test_score': array([0.84858722, 0.84981572, 0.84843366, 0.84966216, 0.84904791,
        0.84720516, 0.85058354, 0.84874079, 0.84336609, 0.84766585,
        0.84720516, 0.84689803, 0.84996929, 0.84720516, 0.84659091,
        0.84843366, 0.84060197, 0.84536241, 0.84889435, 0.84474816,
        0.84536241, 0.84751229, 0.84613022, 0.84536241, 0.84904791,
        0.85181204, 0.85380835, 0.85426904, 0.8531941 , 0.85227273,
        0.8531941 , 0.85411548]),
 'split3_test_score': array([0.85042998, 0.85472973, 0.85350123, 0.85795455, 0.85365479,
        0.85534398, 0.85396192, 0.85672604, 0.85718673, 0.85288698,
        0.85534398, 0.85595823, 0.85519042, 0.8531941 , 0.85273342,
        0.85519042, 0.84566953, 0.85457617, 0.84889435, 0.85380835,
        0.85058354, 0.85058354, 0.8519656 , 0.85027641, 0.8544226 ,
        0.85534398, 0.85580467, 0.85519042, 0.85810811, 0.85549754,
        0.85488329, 0.85611179]),
 'split4_test_score': array([0.84935504, 0.85119779, 0.84659091, 0.8482801 , 0.85165848,
        0.85165848, 0.85165848, 0.85150491, 0.84597666, 0.84889435,
        0.85273342, 0.84858722, 0.84966216, 0.85089066, 0.8519656 ,
        0.84981572, 0.84259828, 0.84966216, 0.85027641, 0.85211916,
        0.85042998, 0.84996929, 0.84981572, 0.84996929, 0.84735872,
        0.84766585, 0.84904791, 0.85012285, 0.8482801 , 0.85104423,
        0.85104423, 0.85089066]),
 'mean_test_score': array([0.8497282 , 0.85126378, 0.84982034, 0.85163232, 0.85160161,
        0.85144805, 0.85147876, 0.85249225, 0.84791622, 0.85021959,
        0.85193944, 0.85144805, 0.85037315, 0.85037315, 0.85037315,
        0.8505267 , 0.84383158, 0.84917539, 0.84951322, 0.84920611,
        0.84902184, 0.8494518 , 0.84932895, 0.84871472, 0.84926753,
        0.85178588, 0.85313719, 0.85322932, 0.85292221, 0.85329075,
        0.85335217, 0.85359786]),
 'std_test_score': array([0.00142419, 0.00183002, 0.0026639 , 0.003831  , 0.0019348 ,
        0.00295766, 0.00168467, 0.00295318, 0.00503965, 0.00180122,
        0.00279167, 0.00331934, 0.00251596, 0.00245908, 0.00219461,
        0.00303837, 0.0027042 , 0.00370841, 0.00123421, 0.00432813,
        0.00217617, 0.00198346, 0.00201914, 0.00264826, 0.00282735,
        0.00244519, 0.00287965, 0.00178723, 0.0033867 , 0.0023835 ,
        0.00178958, 0.00206161]),
 'rank_test_score': array([22, 15, 21, 10, 11, 13, 12,  7, 31, 20,  8, 13, 17, 17, 17, 16, 32,
        28, 23, 27, 29, 24, 25, 30, 26,  9,  5,  4,  6,  3,  2,  1]),
 'split0_train_score': array([0.99585381, 0.99973127, 0.99988483, 0.99992322, 0.99992322,
        0.99992322, 0.99992322, 0.99992322, 0.99673679, 0.99973127,
        0.99980805, 0.99992322, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99550829, 0.99973127, 0.99992322, 0.99992322,
        0.99992322, 0.99992322, 0.99992322, 0.99992322, 0.99604576,
        0.99953931, 0.99992322, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99992322]),
 'split1_train_score': array([0.99604591, 0.99976966, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99992322, 0.99992322, 0.99662175, 0.99950094,
        0.99988483, 0.99988483, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99581558, 0.99980805, 0.99984644, 0.99992322,
        0.99992322, 0.99992322, 0.99992322, 0.99992322, 0.99581558,
        0.9996545 , 0.99988483, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99992322]),
 'split2_train_score': array([0.99535491, 0.99969289, 0.99980805, 0.99996161, 0.99996161,
        0.99996161, 0.99996161, 0.99996161, 0.99600752, 0.99980805,
        0.99996161, 0.99996161, 0.99996161, 0.99996161, 0.99996161,
        0.99996161, 0.99585397, 0.99973128, 0.99992322, 0.99996161,
        0.99996161, 0.99996161, 0.99996161, 0.99996161, 0.99593075,
        0.99942416, 0.99988483, 0.99996161, 0.99996161, 0.99996161,
        0.99996161, 0.99996161]),
 'split3_train_score': array([0.99585397, 0.9996545 , 0.99992322, 0.99996161, 0.99996161,
        0.99996161, 0.99996161, 0.99996161, 0.99619947, 0.99957772,
        0.99996161, 0.99996161, 0.99996161, 0.99996161, 0.99996161,
        0.99996161, 0.9960843 , 0.99984644, 0.99996161, 0.99992322,
        0.99996161, 0.99996161, 0.99996161, 0.99996161, 0.99593075,
        0.99973128, 0.99988483, 0.99996161, 0.99996161, 0.99996161,
        0.99996161, 0.99996161]),
 'split4_train_score': array([0.99616108, 0.99950094, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99992322, 0.99992322, 0.99593075, 0.99976966,
        0.99988483, 0.99992322, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99512457, 0.9996545 , 0.99984644, 0.99988483,
        0.99992322, 0.99992322, 0.99992322, 0.99992322, 0.99612269,
        0.99980805, 0.99988483, 0.99992322, 0.99992322, 0.99992322,
        0.99992322, 0.99992322]),
 'mean_train_score': array([0.99585394, 0.99966985, 0.99989251, 0.99993858, 0.99993858,
        0.99993858, 0.99993858, 0.99993858, 0.99629926, 0.99967753,
        0.99990019, 0.9999309 , 0.99993858, 0.99993858, 0.99993858,
        0.99993858, 0.99567734, 0.99975431, 0.99990019, 0.99992322,
        0.99993858, 0.99993858, 0.99993858, 0.99993858, 0.9959691 ,
        0.99963146, 0.99989251, 0.99993858, 0.99993858, 0.99993858,
        0.99993858, 0.99993858]),
 'std_train_score': array([2.75761610e-04, 9.27703026e-05, 4.47692553e-05, 1.88072666e-05,
        1.88072666e-05, 1.88072666e-05, 1.88072666e-05, 1.88072666e-05,
        3.24440034e-04, 1.17948244e-04, 5.74580413e-05, 2.87279965e-05,
        1.88072666e-05, 1.88072666e-05, 1.88072666e-05, 1.88072666e-05,
        3.31678841e-04, 6.69345494e-05, 4.60667328e-05, 2.42794554e-05,
        1.88072666e-05, 1.88072666e-05, 1.88072666e-05, 1.88072666e-05,
        1.05809682e-04, 1.36486620e-04, 1.53544968e-05, 1.88072666e-05,
        1.88072666e-05, 1.88072666e-05, 1.88072666e-05, 1.88072666e-05])}

Modèle paramétré

In [19]:
clf_rf = RandomForestClassifier(n_estimators=300, max_features=0.5, n_jobs=-1)
clf_rf.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

Importance des features

In [20]:
feature_categories = [X.columns[i].split('_')[0] for i in range(len(X.columns))]
grouped_features = pd.DataFrame(data={'feature_importance':clf_rf.feature_importances_,'category':feature_categories}).groupby('category').sum()
grouped_features.sort_values(by='feature_importance', ascending=False)

                feature_importance
category
fnlwgt                    0.192076
marital.status            0.178372
age                       0.136332
education.num             0.121466
capital.gain              0.115186
occupation                0.080555
hours.per.week            0.074928
capital.loss              0.037465
workclass                 0.029738
sex                       0.014007
race                      0.011026
native.country            0.008847

Scores

In [21]:
# Accuracy
scores = cross_val_score(clf_rf, X, Y, cv=5, scoring='accuracy')
np.mean(scores), np.std(scores)

(0.852154413531659, 0.001591510451724049)

In [22]:
# F1-score
scores = cross_val_score(clf_rf, X, Y, cv=5, scoring='f1')
np.mean(scores), np.std(scores)

(0.6651636847884853, 0.00731482058108925)